{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block content %}
<div class="container">
    <br>
    <h3 style="color:DeepSkyBlue;">Details </h3>
    <h5 style="color:FloralWhite; text-align:justify;">Skin cancer — the abnormal growth of skin cells — most often develops on skin exposed to the sun. But this common form of cancer can also occur on areas of your skin not ordinarily exposed to sunlight.</h5>
    <p style="color:FloralWhite;text-align:justify;" >Skin cancer is the most prevalent type of cancer. Melanoma, specifically, is responsible for 75% of skin cancer deaths, despite being the least common skin cancer.</p>
    <p style="color:FloralWhite;text-align:justify;">We’ll identify melanoma in images of skin lesions. In particular, we’ll use images within the same patient and determine which are likely to represent a melanoma. Using patient-level contextual information may help the development of image analysis tools, which could better support clinical dermatologists.
Melanoma is a deadly disease, but if caught early, most melanomas can be cured with minor surgery.Better detection of melanoma has the opportunity to positively impact millions of people.</p>
<h2 style="text-align:center;"><b><a href="skincancerapp.herokuapp.com">Click Here to Analyze Your Skin</a></b></h2>
 <h3 style="color:FloralWhite;">Symptoms</h3>
<ul>
    <li style="color:FloralWhite;">A large brownish spot with darker speckles</li>
    <li style="color:FloralWhite;">A mole that changes in color, size or feel or that bleeds</li>
    <li style="color:FloralWhite;">A painful lesion that itches or burns</li>
    <li style="color:FloralWhite;">A small lesion with an irregular border and portions that appear red, pink, white, blue or blue-black</li>
  </ul>
    {% endblock content %}